<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>HELLO <%=text%></h1> -->
     <!-- <h1>HELLO <%= text.msg1 || "Default msg"%></h1> -->
    <h1>HELLO <%= text.msg || "WORLD" %></h1>
    <h1><%=text.name %></h1>
</body>
</html>