
input{
    max-width: 1000px;
    height: 30px;
    width:250px;
    color:blueviolet;
    left:20px;
    position: relative;
}
label{
    height: 30px;
    color:blueviolet;
    width:250px;
    font-size:25px;
    display: flex;
    flex-direction: column;
}
#b1{
    position:relative;
    left: -100px;
    top:100px;
    flex: auto;
    flex-direction: column;
}