.home-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }
  
  .home-header {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: white;
    padding: 50px 20px;
    border-radius: 10px;
  }
  
  .home-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .home-header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background: white;
    color: #ff7e5f;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background: #ffe0b3;
  }
  
  .footer-section {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 10px; 
  right: 10px; 
    width: calc(100%-20px);

  }